/* custom-carousel.css */
.carousel .legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    font-size: 1.25rem;
    border-radius: 8px;
    z-index: 2;
  }
  
  .carousel .slide {
    position: relative;
  }
  