.why-choose-us {
  padding: 40px 20px;
  text-align: center;
}

.why-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.why-card {
  background-color: var(--card-bg);
  color: var(--text-color);
  box-shadow: 0 4px 12px var(--card-shadow);
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  transition: all 0.3s ease;
}

.why-card:hover {
  transform: translateY(-5px);
}
